# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

## Postgres dev envs
POSTGRES_DB=proofs_dashboard
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

## Don't think interpolating previous env vars is supported by every loader so just using a raw string instead of
## Homebrew uses the system username as the postgres user!!! If you installed postgres another way, you may need to change this
## DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/proofs_dashboard"

# AWS keys
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_S3_BUCKET=your_bucket_name

# These aren't sensitive variables but still using placeholders in .env.example
NEXT_PUBLIC_COGNITO_USER_POOL_ID=your_user_pool_id
NEXT_PUBLIC_COGNITO_CLIENT_ID=your_client_id 